:root {
  --primery-bgc: #ffffff;
  --secondary-bgc: linear-gradient(89.61deg, #fcfeff 0.32%, #a5edff 99.66%);
  --primary-text-color: #1b1d1f;
  --orange: #ff6b0a;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.main-page {
  background: var(--secondary-bgc);
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 34px;
  margin-bottom: 58px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-left: 18px;
}
.banderogoose-container {
  background-color: var(--primery-bgc);
  padding: 60px 56px;
  align-self: center;
}

.banderogoose-greeting {
  font-weight: 600;
  margin-bottom: 16px;
}

.banderogoose-start-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--orange);
  margin-bottom: 48px;
}

.banderogoose-tittle {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
}

.banderogoose-description {
  margin-top: 24px;
  margin-bottom: 48px;
}

.modal-form-btn,
.banderogoose-btn {
  background-color: var(--orange);
  color: var(--primery-bgc);
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.main-page-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.banderogoose-img {
  align-self: flex-end;
}
.facts {
  padding: 52px 0 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-tittle,
.facts-tittle {
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  margin: 16px auto;
}
.facts-discription {
  width: 875px;
  text-align: center;
  margin-bottom: 24px;
}
.facts-list {
  list-style-type: none;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}
.facts-list-item {
  width: 33%;
}
.modal-form-tittle,
.facts-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin: 12px 0 32px 0;
}
.facts-list-discription {
  width: 280px;
}
footer {
  display: flex;
  justify-content: center;
}
.footer-bgd {
  background: var(--secondary-bgc);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  padding: 72px 0;
}
.footer-discriptions {
  text-align: center;
  width: 875px;
}
.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(27, 29, 31, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3 ease-in-out;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-form-container {
  background-color: var(--primery-bgc);
  padding: 32px 92px 60px 92px;
  position: relative;
}
.modal-form-tittle {
  margin: 32px 0 12px 0;
}
.modal-form-discription {
  margin-bottom: 28px;
}
.modal-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.modal-field-name {
  margin-bottom: 8px;
}
.modal-field-input {
  border-color: #005bbb;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  color: var(--primary-text-color);
  font-size: 16px;
  padding: 4px 8px;
}
.modal-form-btn {
  margin-top: 24px;
}
.close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  color: var(--primary-text-color);
  border: none;
  background: none;
  cursor: pointer;
}
.modal-discription {
  margin: 0;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}
