:root {
  --primery-bgc: #ffffff;
  --secondary-bgc: linear-gradient(89.61deg, #fcfeff 0.32%, #a5edff 99.66%);
  --primary-text-color: #1b1d1f;
  --orange: #ff6b0a;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.main-page {
  background: var(--secondary-bgc);
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 34px;
  margin-bottom: 58px;
  display: flex;
}

.logo-text {
  margin-left: 18px;
}
.banderogoose-tittle {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: var(--primary-text-color);
}
